body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header, nav, main, footer {
    padding: 20px;
    text-align: center;
  }
  
  header, footer {
    background-color: #333;
    color: #fff;
  }
  
  nav {
    background-color: #666;
    color: #fff;
  }
  
  main {
    display: grid;
    grid-template-columns:500px 1fr;
    grid-gap: 10px;
  }
  
  .left, .right {
    /* background-color: #f4f4f4; */
    padding: 10px;
  }
  
  .content {
    /* background-color: #ddd; */
    padding: 10px;
  }
  footer{
    bottom: 0;
    left: 0;
    position: fixed;
    width: 100%;
  }
  